.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/bg-image.svg");
    background-size: cover;
    background-position: center;
}
