.auth {
    background-color: whitesmoke;
    padding: 1.5rem 3rem;
}

.auth__input-container {
    gap: 1rem;
    margin-bottom: 2rem;
}

.auth__button {
    width: 75%;
    padding: 2% 0;
}

.auth__input {
    width: 100%;
}
